* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Hind', sans-serif;
    background-color: black;
}

h1 {
    color: aliceblue;
    text-align: center;
    font-size: 24px;
}

.container {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 80px 1fr 40px 60px;
    grid-template-areas: "navegador"
        "selector"
        "galeria"
        "ultimo"
        "footer";

}

.logo {
    width: 50px;
}

.menu {
    width: 30px;
}

.logo3 {
    display: none;
}

.encabezado {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: black;
    color: yellow;
    align-items: center;
    grid-area: navegador;
}

.logo_encabezado {
    display: flex;
    gap: 7px;
    align-items: center;
}


.encabezado ul {
    display: none;
}

.opciones {
    text-align-last: left;
    padding: 10px;


}

.container_cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
    background-color: red;
}

.container_cards button {
    background-color: red;
    border: solid 1px black;
    color: black;
    width: 100px;
    height: 50px;
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../images/fondo3.jpg);
    width: 250px;
    padding: 25px 0;
    gap: 20px;
    border-radius: 5px;
    border: solid 3px black;
}

.container_cards h3 {
    color: aliceblue;
}


.galeria {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: galeria;
}

.cards img {
    width: 200px;
    height: 280px;
    object-fit: cover;
}

.cards img:hover {
    transition: all 1s;
    transform: scale(1.1);
}

.botones {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
}

.botones button {
    width: 30px;
    height: 30px;
    color: red;
    background-color: black;
    border: solid 1px red;
}

footer {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    grid-area: footer;
}

footer img {
    width: 30px;
    padding: 5px;
}






@media (min-width: 576px) {
    body {
        background-color: black;
    }

    h1 {
        text-align: center;
        font-size: 32px;
    }

    .container {
        height: 100vh;
        display: grid;
        grid-template-columns: 250px 1fr;
        grid-template-rows: 80px 1fr 100px;
        grid-template-areas: "navegador selector"
            "navegador galeria"
            "footer galeria";
    }

    .encabezado {
        flex-direction: column;
        justify-content: start;
        color: whitesmoke;
        background-color: black;

    }

    .menu {
        display: none;
    }

    .galeria {
        padding-top: 15px;
    }

    .container_cards {
        overflow: auto;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 35px;
    }

    .encabezado ul {
        display: block;
        font-size: 18px;
        font-weight: 600;
        padding-top: 15px;
        list-style: none;

    }

    .encabezado li {
        padding: 10px;
    }

    .encabezado h1 {
        font-size: 26px;
    }

    .botones {
        display: flex;
        padding-top: 50px;
    }

    .botones button {
        width: 30px;
        height: 30px;
        color: red;
        background-color: black;
        border: solid 1px red;
    }

    .cards {
        background-color: white;
        color: black;
    }

    .cards span {
        font-weight: 600;
    }

    footer {
        display: flex;
        background-color: black;
        color: white;
        align-items: center;
        justify-content: center;

    }

    footer span {
        font-size: 15px;
    }

    .prueba {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .logo3 {
        width: 60px;
        display: block;

    }

}